html {
    font-family: Helvetica, sans-serif;
    background-color: #fefefe;
    line-height: 1.6;
    min-height: 100%;
}
body {
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    max-width: $container-max-width;
    min-width: $container-min-width;
    margin-bottom: 2 * $new-item-height;
    padding: $padding-s $padding-m;
}

.main-header {
    background: $primary-blue-900;
    padding: $padding-s $padding-m;
    border-bottom: 3px solid $primary-blue-500;
    text-align: center;
    position: relative;
}


@media all and (min-width: $bp-m) {
    .main-container {
        margin: 20px auto 0;
    }
}