.btn {
    border: none;
    padding: $padding-xs $padding-m;
    background: none;
    max-width: 200px;
    display: inline-block;

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 3px rgba($gray-100, 0.8);
    }
}

.btn-primary {
    background-color: $primary-action;
}

.btn-danger {
    background-color: $danger;
}