.btn {
    border: none;
    padding: $padding-s $padding-m;
    background: none;
    max-width: 200px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 3px rgba($gray-100, 0.8);
    }

    transition: opacity .15s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.btn-primary {
    background-color: $primary-action;
    color: $accent-green-100;
}

.btn-danger {
    background-color: $danger;
    color: $gray-100;
}