.btn {
    border: none;
    padding: 10px;
    margin: 10px 0;
    background: none;

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 3px rgba($gray-100, 0.8);
    }
}

.btn-primary {
    background-color: $primary-action;
}

.btn-danger {
    background-color: $danger;
}