.input-field {
    position: relative;
    display: block;

    input,
    textarea {
        display: block;
        padding: $padding-s 0;
        border: 0;
        border-bottom: $gray-200 2px solid;
        width: 100%;
        margin: $margin-s 0;  
        background: none;
        position: relative;
        transition: all .12s ease;

    }

    input:focus,
    textarea:focus {
        + .input-border {
            transform: scaleX(1);
        }
    }

    .input-label {
        font-weight: 600;
    }

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-blue-500;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    } 
}

.checkbox-label {
    display: inline-block;
    position: relative;

    &::before {
        // Box of the checkbox
        height: $checkbox-size;
        width: $checkbox-size;
        border: 1px solid;
        bottom: -7px;
        left: 0;
    }
    &::after {
        // Checkmark of the checkbox
        height: 6px;
        width: 16px;
        left: 4px;
        bottom: 3px;

        border-left: 2px solid;
        border-bottom: 2px solid;

        transform: rotate(-45deg);
    }

    &::before,
    &::after {
        // Positioning the checkbox
        // Checkbox tick mark
        content: "";
        display: inline-block;
        position: absolute;
    }
}

.checkbox-input {
    opacity: 0;
    position: absolute;

    // Toggling the checkbox visibility when it's checked
    +.checkbox-label::after {
        content: none;
    }
    &:checked + .checkbox-label::after {
        content: "";
    }

    &:focus + .checkbox-label::before {
        outline: solid 1px rgb(59, 153, 252);
    }
}