.input-field {
    position: relative;
    display: block;

    input:focus,
    textarea:focus {
        + .input-border {
            transform: scaleX(1);
        }
    }

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-blue-500;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    } 
}

.task-container {
    padding: 10px 10px;
    background-color: $gray-300;
}

.task-name {
    display: inline-block;
    margin: 0 0 0 10px;
}

.task-input {
    margin: 10px;
}