.input-field {
    position: relative;
    display: block;

    input,
    textarea {
        display: block;
        padding: $padding-s 0;
        border: 0;
        border-bottom: $gray-200 2px solid;
        width: 100%;
        margin: $margin-s 0;  
        background: none;
        position: relative;
        transition: all .12s ease;
        color: $primary-blue-900;

    }

    input:focus,
    textarea:focus {
        + .input-border {
            transform: scaleX(1);
        }
    }

    .input-label {
        font-weight: 600;
    }

    .input-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-blue-500;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: all .15s ease;
    } 
}

.task-checkbox {
    &:hover .checkbox-label::after {
        content: "";
        height: 6px;
        width: 16px;
        opacity: 1;

    }

    &:hover .checkbox-label::before {
        background: $primary-blue-200;
        box-shadow: 0 0 5px white inset;
    }
}

.checkbox-label {
    display: inline-block;
    position: relative;

    &::before {
        // Box of the checkbox
        height: $checkbox-size;
        width: $checkbox-size;
        border: 1px solid $primary-blue-900;
        bottom: -7px;
        left: 0;
        box-shadow: 0 0 1px rgba($gray-900, 0.7) inset;
        transition: background-color .15s ease-in-out;
    }
    &::after {
        // Checkmark of the checkbox
        height: 6px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        transition: height .3s,
                    width .3s .3s;

        border-left: 2px solid $primary-blue-900;
        border-bottom: 2px solid $primary-blue-900;

        transform: rotate(-45deg);
    }

    &::before,
    &::after {
        // Positioning the checkbox
        // Checkbox tick mark
        content: "";
        display: inline-block;
        position: absolute;
    }
}

.checkbox-input {
    opacity: 0;
    position: absolute;

    // Toggling the checkbox visibility when it's checked

    // Unchecked
    +.checkbox-label::after {
        content: "";
        height: 0;
        width: 0;
        opacity: 0;
    }

    // Checked
    &:checked + .checkbox-label::after {
        content: "";
        height: 6px;
        width: 16px;
        opacity: 1;
    }

    &:checked + .checkbox-label::before {
        background: $primary-blue-200;
        box-shadow: 0 0 5px white inset;
    }

    &:focus + .checkbox-label::before {
        outline: solid 1px rgb(59, 153, 252);
        
    }
}