.project-list {
    margin-top: 10px;
}

.rounded-border-5 {
    border-radius: 5px;
}

.project-card {
    width: 300px;
    background-color: $gray-100;
    box-shadow: 0px 2px 4px rgba($gray-400, 0.8);
    padding: 10px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0px 2px 8px rgba($gray-400, 0.8);
    }

    #project-name,
    #project-description {
        width: 100%;
        box-sizing: border-box;
        margin: 5px 0;
        background: none;
        border: none;
        position: relative;
        transition: all .12s ease;

           
    }

    #project-name {
        font-size: $text-24;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;        
    }
}

.project-card-title {
    margin: 0;
    font-size: $text-24;
}

.new-project {
    border: 1px $gray-800 dashed;
    padding: 15px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    background: rgba($gray-100, 0.3);
}

.project-heading-container {
    margin-bottom: 20px;
}

.project-heading {
    margin: 10px 0;
}