.main-title {
    text-transform: uppercase;
    margin: 5px 0;
}
.text-30 {
    font-size: $text-30;
}
.text-12 {
    font-size: $text-12;
}

.subtext {
    color: $gray-500;
    margin: 0;
}
.hidden {
    display: none;
}

.svg-icon {
    display: flex;
    align-items: center;
}

.icon-s {
    height: $icon-s;
    width: $icon-s;
}

.icon-m {
    height: $icon-m;
    width: $icon-m;
}

.icon-l {
    height: $icon-l;
    width: $icon-l;
}